<html>

  <head>
    <title> GUESS PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
      <br>
      Team TXT
    </h1>


    <h3>
      Guess da numba. (Deploying pinkertons against Factory {{factory}})
    </h3>
    <form action="/guess" method="post">
      <input type="text" name="user_number">
      <input type="submit" name="sub1">
    </form>
    {{right_or_wrong}} <br>
    {{attempts_message}}
    <br>
    {% if right_or_wrong == 'Coolio you guessed right!' %}
    <form>
      <label for="limit">Use a token to gamble against the brotherhood of Free Association:</label>
      <input id = 'limit' type="submit" value="Play the cards">
    </form>
    {% endif %}
    <a href='/home'> home </a>
    <script src="../static/js/guess.js"></script>
  </body>

</html>
