<html>

  <head>
    <title> GUESS PAGE </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/guess.css">
  </head>

  <body>
  <!--
  	<nav class="navbar navbar-default">
	 <div class="container-fluid">
	  <div class="navbar-header">
       <a class="navbar-brand" href="#">TXT</a>
      </div>
      <ul class="nav navbar-nav">
		<li><a href='/home'> Home </a> </li>
		<li><a href='/logout'> logout </a> </li>
		<li><a href='/leaderboard'> leaderboard </a> </li>
	  </ul>
	 </div>
	</nav>
  -->
 
	
    <h2>
      {% if not fakeness%}
        Guess da numba. (Deploying pinkertons against Factory {{factory}})
      {% else %}
        Guess da numba.
      {% endif %}
    </h2>
    {% if not fakeness%}
    <form action="/guess" method="post">
      <input type="text" name="user_number">
      <input type="submit" class="btn btn-danger" name="sub1">
    </form>
    {% else %}
    <form action="/guess_fake" method="post">
      <input type="text" name="user_number">
      <input type="submit" class="btn btn-danger" name="sub1">
    </form>
    {% endif %}
    <p>{{right_or_wrong}} <br>
    {{attempts_message}} </p>
    <br>
    {% if right_or_wrong == 'Coolio you guessed right!' and not fakeness%}
    <form action="/cards">
      <label for="limit">Use a token to gamble against the brotherhood of Free Association:</label>
      <input id = 'limit' type="submit" value="Play the cards">
    </form>
    {% endif %}
    
    <ul class= 'bar'>
		<li><a href='/home'> home </a> </li>
		<li><a href='/logout'> logout </a> </li>
		<li><a href='/leaderboard'> leaderboard </a> </li>
		<li><a href='/snake'> snake </a> </li>
	</ul>
	<br>
	
	
    <script src="../static/js/guess.js"></script>
  </body>

</html>
