<html>

  <head>
    <title> HOME PAGE </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/home.css">
	

  </head>

  <body>
  <!--
	<nav class="navbar navbar-default">
	 <div class="container-fluid">
	  <div class="navbar-header">
       <a class="navbar-brand" href="#">TXT</a>
      </div>
      <ul class="nav navbar-nav">
		<li><a href='/guess'> Guess da number </a> </li>
		<li><a href='/logout'> logout </a> </li>
		<li><a href='/leaderboard'> leaderboard </a> </li>
    <li><a href='/snake'> snake </a> </li>
	  </ul>
	 </div>
	</nav>
	-->

<div class = 'container'>
    <h1>
      Welcome to TXT's collection of very familiar games! <br> (with definitely no catch)
    </h1>
<br>

    <ul class= 'bar'>
		<li><a href='/guess_fake'> Guess da number </a> </li>
		<li><a href='/logout'> logout </a> </li>
		<li><a href='/leaderboard'> leaderboard </a> </li>
    <li><a href='/snake'> snake </a> </li>
		</ul>
	<br>

    <h3>
      Hello {{user}}!<br> Currently, you have a total score of {{score}}.
	  <br>
	  Click the options above to gain more points :).
    </h3>
<br>

</div>
  </body>

</html>
