<!DOCTYPE html>
<html>

  <head>
    <title> LEADERBOARD PAGE </title>
  </head>

  <body>
    <!-- {{results}} -->
    <canvas id ="canvas"></canvas>
    <div style="position: absolute; z-index: 1; border: 1px dotted red; right: 0; top:0; width: 500px;">
        <ul style="font-size: 2rem;">
            <h3  id = 'id'>Factory:</h1>
            <li id = 'owner'></li>
            <li id = 'connections'></li>
            <li id = 'answer'></li>
            <li id = 'points'></li>
        </ul>
    <form id = "form" action="/guess" method="GET" style="opacity:0; padding: 30px;">
        <label for="btn">Resist the Proletarian Revolution:</label>
        <input id = "ide" type="hidden" name="id" value="C0 C0 C0 C0">
        <input id = "btn" type="submit" value="Claim Private Ownership!">
    </form>
	<br>
	<a href='/home'> home </a> 
    </div>
    <script src="../static/js/leaderBoard.js"></script>
  </body>

</html>