<!DOCTYPE html>
<html>

  <head>
    <title> LOGIN PAGE </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/login.css">
  </head>

  <body>
    <h1>
      Welcome, login to txt!
    </h1>

	<div class= "container">
    <h3>
      Enter your username & password below to proceed.
    </h3>
    <form action= "/login" method="POST">
      <p> Username </p> <br>
      <input type="text" name="username" placeholder= "Enter your username" required>
      <p> Password </p> <br>
      <input type="password" name="password" placeholder= "Enter your password" required>
      <input title = "Submit" type="submit" class="btn btn-danger" >
    </form>


    <h2>
      {{exception}}
    <h2>

    <h3>
      Don't have an account? <br> 
      <form action ="/register">
    	  <input title = "Create Account" type="submit" class="btn btn-danger"  value="Signup Here"/>
    	</form>
    </h3>
	</div>
  </body>

</html>