<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>basic JS canvas work</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/snake.css">
  </head>

  <style>
    #slate { border: 1px solid black }
  </style>

  <h2> snakkkke</h2>

  <div class = "snek">
  <div>
    <canvas height="600" width="600"
            id="slate">
      dis dat alt txt tho
    </canvas>
  </div>

   <div class = "buton">
  <button id="start" class="btn btn-danger" >Start</button>
    <ul>
    <li id='up'>Up: w</li>
    <li id='left'>Left: a</li>
    <li id='down'>Down: s</li>
    <li id='right'>Right: d</li>
  </ul>
    <p id='score'>{{score_Message}}</p>
    {% if score > 0 and not fakeness%}
    <form action="/cards">
      <label for="limit">Use a token to gamble against the brotherhood of Free Association:</label>
      <input id = 'limit' type="submit" value="Play the cards">
    </form>
    {% endif %}
   </div>
</div>
	
      <ul class= 'bar'>
		<li><a href='/home'> home </a></li>
		<li><a href='/leaderboard'> leaderboard </a> </li>
		<li><a href='/logout'> logout </a> </li>
	  </ul>

  

    {% if not fakeness%}
    <form id = 'snakeForm' action= "/snake_realness" method="POST">
      <input type="hidden" id="snakeInput" name="snakeScore">
    </form>
    {% else %}
    <form id = 'snakeForm' action= "/snake" method="POST">
      <input type="hidden" id="snakeInput" name="snakeScore">
    </form>
    {% endif %}

  <script src="../static/js/snake.js"></script>

</html>
